@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fragment+Mono&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,900&family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: "Fragment Mono", monospace;
}

.starter {
  background-color: #272829;
  margin: 5rem;
  color: #f6f1f1;
  padding: 4rem;
  border-radius: 5rem;
}

.github-img {
  width: 15%;
  border: 9px solid #f6f1f1;
  border-radius: 50%;
  margin-bottom: 2rem;
}

button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  margin-top: 2rem;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

.input-field {
  width: 50%;
  height: 4rem;
  margin-top: 5rem;
  margin-bottom: 0.3rem;
  padding: 1rem;
  border: 5px solid #f6f1f1;
  border-radius: 50px;
}

.list-item {
  background-color: black;
  width: 70rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 50px;
}

.list-img {
  width: 20%;
  border-radius: 50%;
  margin-left: 5rem;
}

.show-btn:hover {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  background-color: darkgrey;
}

.card-item {
  display: flex !important;
  width: 70rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-img {
  border-radius: 50%;
  width: 40%;
  margin-top: 2rem;
}

.box-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-data {
  text-align: center;
  width: 50%;
  margin-top: 1.2rem;
}

.box-heading {
  border: 4px solid white !important;
  padding: 1rem;
}

.repo-item {
  background: #272829;
  list-style: none;
  width: 100%;
  text-align: start;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 50px;
}

.link-icon {
  font-size: x-large;
  cursor: pointer;
}
